.green{
    color: rgb(51, 139, 51);
}

.red{
    color: rgb(187, 59, 59);
}

.box{
width: 100%;
background: #fff;
padding: 8px;
margin-top: 10px;
}

@media only screen and (max-width:500px){
    .large-only{
        display:none;
    }
 
}