<div class="container-fluid"> 
  <div class="row">


  <!-- Sidebar -->
  <div class="col-lg-2  mt-2  text-black text-center"  style="background-color: rgb(236, 236, 236); padding-bottom: 50px;">  
    
 
    <div class="box">
        <h5 style="margin-top: 10px">Total Cost</h5>    
        <div style="width: 100%; background: #eee;"> {{currency + totalCost }}</div>
      </div>   

      <div class="box">
        <h5 style="margin-top: 10px">Total Market Value</h5>    
        <div style="width: 100%; background: #eee;"> {{ currency +totalMarketValue }}</div>
      </div>

      <div class="box">
        <h5 style="margin-top: 10px">Total Gains</h5>
        <div  [ngClass]=" convertToNumber(gains) > 1 ? 'green': 'red' "  style="width: 100%; background: #eee;"> {{ currency +gains }}</div>
      </div>

  </div>


<div class="col-lg-10">

  <!-- Add Stock -->
  
  <form [formGroup]="addForm" (submit)="saveStock($event)"> 
    <div *ngIf="showAddScreen" style="margin-top: 10px;"  class="add-stock">
     
      <input type="text" style="margin-right: 10px;" placeholder="Symbol (JFC)" formControlName="addSymbol">
      <input type="text" style="margin-right: 10px;" placeholder="Shares (200)"  formControlName="addShares">
      <input type="text" style="margin-right: 10px;"  placeholder="Average Price (123.0000)"  formControlName="addPrice">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="saveStock($event)">Save Stock</button>
    </div>
    </form>
  

<div class="bg-secondary text-white mt-2 p-2 bg-success" style="width: 100%;"> 
   The following are real time values from the Philippine Stock Market</div> 
 
<div *ngIf="fetchingData">Fetching Data...</div>
<table class="table table-striped" *ngIf="!fetchingData">
  <thead>    
  <tr>
    <th scope="col" class="large-only"> # </th>
    <th scope="col"> Symbol </th>
    <th scope="col">Shares</th>
    <th scope="col"> Current Price </th>
    <th scope="col"> Ave. Price</th>
    <th scope="col" class="large-only" > % Change</th>
    <th scope="col" class="large-only"> Market Value </th>
    <th scope="col" class="large-only"> Total Cost </th>
    <th scope="col"> Gain/Loss </th>
    <th scope="col" class="large-only"> Stop Loss</th> 
    <th scope="col" class="large-only"> Target</th>
    <th scope="col" class="large-only"> Advice </th>
    <th scope="col"> Actions</th>
  </tr> 
  </thead>
  <tbody>
 
  <tr *ngFor="let stock of stocks; index as i"> 
    <th scope="row"  class="large-only">{{ i + 1 }}</th>
    <td>{{ stock.symbol | uppercase }}</td>
    <td><span  *ngIf="isEditing(i)"> <input style="width: 100%;background-color: #abf3e3;" #shares (keyup)="updateShares(shares.value)" value="{{sharesPlaceholder}}"></span><span *ngIf="!isEditing(i)">{{ stock.shares | number  }} </span></td>   
    <td>{{ stock.price | number }}</td> 
    <td ><span  *ngIf="isEditing(i)"> <input style="width: 100%; background-color: #abf3e3;" #editPrice (keyup)="updateAveragePrice(editPrice.value)"  value="{{pricePlaceholder}}"></span><span *ngIf="!isEditing(i)">{{ stock.aveprice | number }} </span></td> 
    <td class="large-only" >{{ stock.percent_change }}</td> 
    <td class="large-only">{{ stock.marketvalue | number:"1.2-2"  }}</td> 
    <td class="large-only">{{ stock.totalcost | number:"1.2-2"  }}</td> 
    <td [ngClass]="stock.fcolor">{{ stock.gainloss | number:"1.2-2" }}</td> 
    <td class="large-only" class="large-only">{{ stock.stoploss | number:"1.2-2"  }}</td> 
    <td class="large-only">{{ stock.target | number:"1.2-2"   }}</td> 
    <td class="large-only" [ngClass]=" stock.action | actionColor ">{{ stock.action }}</td> 
    <td> 

      <!-- Normal View -->
      <span *ngIf="!isEditing(i)"> 
         <fa name="pencil" tooltip="Edit" (click)="showEditFields(i, stock.shares, stock.aveprice)" ></fa> &nbsp; 
         <fa name="trash" tooltip="Delete" (click)="deleteStock(stock.symbol)"  style="color:red;"></fa> 
      </span>
      <!-- Editing View-->
      <span *ngIf="isEditing(i)">
      <fa name="close" tooltip="Edit" (click)="cancelEditing()" style="color:red"></fa> &nbsp; <fa name="check" tooltip="Update" (click)="updateStock(stock.symbol)" style="color:green"></fa> 
    </span>
    </td>
  </tr>
  </tbody>
</table>

<!-- <input #box (keyup.enter)="onEnter(box.value)"> -->
</div>
</div>
</div>